.card {
  margin: 0;
  padding: 0;
}

.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.card__like-button {
  background-image: url(../images/heart-like.svg);
  height: 20px;
  width: 23px;
  border: none;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 550px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__content {
    width: 288px;
  }

  .card__title {
    font-size: 16px;
  }
}
