.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", "Ubuntu", sans-serif;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-button {
  background: center url(../images/close.svg);
  border: none;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  padding: 0;
}

.modal__close-button:hover {
  opacity: 100%;
}

.modal__title {
  font-size: 32px;
  padding: 0;
  margin: 0 0 32px 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 32px;
  gap: 8px;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  font-family: "Poppins", "Ubuntu", sans-serif;
  font-size: 20px;
  opacity: 40%;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__input:hover {
  opacity: 100%;
}

.modal__submit-button {
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  padding: 16px 58px;
  margin: 0;
  max-width: 156px;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .modal__container {
    max-width: 300px;
    width: 100%;
    padding: 22px 12px;
  }

  .modal__close-button {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
    padding: 0;
    margin: 0 0 24px 0;
  }

  .modal__label {
    padding: 0;
    margin: 0 0 24px;
  }

  .modal__submit-button {
    max-width: 100%;
  }
}
